@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100&display=swap');

:root {
    --white:#fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}